*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text{
    position: absolute;
    font-size: 5em;
    color: #fff;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec{
    position: relative;
    background-color: black;
}

.sec h2{
    color: white;
}

.sec p{
    color: white;
}