body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

nav{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
    padding-left: 100px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    padding-right: 100px;
}

nav ul li a{
    text-decoration: none;
    color:white;
    font-weight: 800;
}

.hero{
    width: auto;
    background-image: url(pokeball-image/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
    background: linear-gradient(0deg,rgb(0, 0, 0)15%, rgba(255,255,255,0)70%);
}

.main-col{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 200px;
}

.hero h1{
    font-size: 24px;
    color: white;
    text-align: center;
}

.col-1-pokeball{
    padding: 100px;
    display: flex;
}

/* .col-1-pokeball::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
    background: linear-gradient(0deg,rgb(255, 0, 0)15%, rgba(0, 0, 0, 0)70%);
} */

.col-1-pokeball img{
    width: 250px;
    height: 250px;
}

.col-1-pokeball h2{
    font-size: 18px;
}

.col-1-pokeball p{
    font-size: 18px;
    text-align: justify;
}

.col-1-text{
    padding-left: 100px;
    color: white;
}

.col-2-pokeball{
    padding: 100px;
    display: flex;
}

.col-2-pokeball img{
    padding-left: 100px;
    width: 250px;
    height: 250px;
}

.col-2-pokeball h2{
    font-size: 18px;
}

.col-2-pokeball p{
    font-size: 18px;
    text-align: justify;
}

.col-2-text{
    justify-content: space-between;
    color: white;
}

.col-3-pokeball{
    padding: 100px;
    display: flex;
}

.col-3-pokeball img{
    width: 250px;
    height: 250px;
}

.col-3-pokeball h2{
    font-size: 18px;
}

.col-3-pokeball p{
    font-size: 18px;
    text-align: justify;
}

.col-3-text{
    padding-left: 100px;
    color: white;
}

.all-pokeball{
    color: white;
    font-size: 36px;
    text-align: center;
}

.con-4-pokeball{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    margin: 50px;
}

.card{
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(187, 187, 187, 0.5);
    background-image: url(pokedex-image/Background-Pokedex-Img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.card button {
    background-color: #ff5a00;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer; /*mengubah cursor ke tangan*/
}  




