body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px); 
    border-radius: 15px;
}

.logo{
    width: 140px;
    padding-left: 100px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    padding-right: 100px;
}

nav ul li a{
    text-decoration: none;
    color:white;
    font-weight: 800;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(home-image/Main-Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
    background: linear-gradient(0deg,rgb(10, 26, 49)15%, rgba(255,255,255,0)70%);
}

.text-container{
    padding-top: 50px;
    max-width: 700px;
    padding-left: 100px;
    color:white;
}

.text-container h1 {
    font-size: 70px;
}

.text-container p {
    font-size: 18px;
    margin: 10px 0 30px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px); 
    border-radius: 15px;
    padding: 10px;
}

.col-1{  
    background-color: #0a1a31;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-1-text-container{
    padding: 100px;
    font-style: italic;
    min-height: 20vh;
    margin-left: 10%;
    margin-right: 10%;
}

.col-1 h2 {
    color: white;
    font-size: 36px;
}

.col-1 p{
    color: white;
    font-size: 18px;
}

.col-2{
    background-color: #0a1a31;
    display: flex;
    justify-content: space-between;
}

.col-2-logo-text-container{
    padding: 100px;
    display: flex;
}

.card-2 img {
    width: auto;
    transform: translate(0%, -20%);
}

.col-2-text-container{
    font-style: italic;
}

.col-2 h2 {
    color: white;
    font-size: 36px;
}

.col-2 p{
    text-align: justify;
    font-size: 16px;
    color: white;
}

.col-3{
    background-color: #0a1a31;  
    padding: 100px;
}

.col-3-pikachu{
    position: absolute;
    width: auto;
    transform: translate(150%, -45%);
}

.col-3-text-container{
    color: white;
    font-style: italic;
    margin-right: 5%;
}

.col-3 h2 {
    font-size: 36px;
}

.col-3 p{
    text-align: justify;
    font-size: 16px;
    margin-right: 30%;
}

.col-4{
    background-color: #0a1a31;
}

.col-4-logo-text-container{
    padding: 100px;
}

.col-4-film-pokemon{
    position: absolute;
    float: right;
    width: 200px;
    height: auto;
    transform: translate(450%, 0%);
}

.col-4-film-pokemon-1{
    position: absolute;
    float: right;
    width: 200px;
    height: auto;
    transform: translate(560%, -15%);
}

.col-4-text-container{
    margin-top: 10%;
    font-style: italic;
    color: white;
    margin-bottom: 10%;
    margin-right: 10%;
}

.col-4h2 {
    font-size: 36px;
}

.col-4 p{
    text-align: justify;
    font-size: 16px;
    margin-right: 30%;
}