/* body{
    background-image: url(pokedex-image/Background-Pokedex-Img.png);
    background-position: center;
    background-repeat: no-repeat;  
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;

}

/* background-repeat: no-repeat;
background-size: cover;
background-position: center;
overflow: hidden;
position: relative; */

nav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px); 
    border-radius: 15px;
}

.logo{
    width: 140px;
    padding-left: 100px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    padding-right: 100px;
}

nav ul li a{
    text-decoration: none;
    color:white;
    font-weight: 800;
}

.navbar a:hover {
    color: #ccc;
}

.hero{
    width: auto;
    background-image: url(pokedex-image/Hero-Img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
    background: linear-gradient(0deg,rgb(0, 0, 0)15%, rgba(255,255,255,0)70%);
}

/* .hero::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
    background: linear-gradient(to bottom, #000080, #ADD8E6);
} */


.text-img-container{
    margin-top: 50%;
    display: flex;
    padding: 80px;
    justify-content: space-between;
}

.text-container{
    color: white;
    font-size: 24px;
}

.text-container p{
    padding-right: 40%;
    text-align: justify;
    font-size: 20px;
}

.img-container img{
    width: auto;
    transform: translate(180%, -60%);
}

.title-pokedex{
    width: 500px;
    margin-left: 33%;
}

.title-type-pokemon{
    color: white;
    padding-left: 120px;
}

.type-pokemon{
    padding-left: 100px;
}

.type-pokemon button {
    margin-left: 20px;
    justify-content: space-between;
    background-color: #606060;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.type-pokemon .fire:hover {
    background-color: #ff4500;
}

.type-pokemon .water:hover {
    background-color: #1e90ff;
}

.type-pokemon .grass:hover {
    background-color: #32cd32; 
}

.type-pokemon .ground:hover {
    background-color: #d2b48c; 
}

.type-pokemon .rock:hover {
    background-color: #a0522d; 
}

.type-pokemon .dark:hover {
    background-color: #000000; 
}

.type-pokemon .dragon:hover {
    background-color: #9932cc; 
}

.type-pokemon .steel:hover {
    background-color: #c0c0c0; 
}

.con-1-pokedex{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    margin: 50px;
}

.con-2-pokedex{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    margin: 50px;
}

.con-3-pokedex{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    margin: 50px;
}

.card{
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(187, 187, 187, 0.5);
    background-image: url(pokedex-image/Background-Pokedex-Img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.card button {
    background-color: #ff5a00;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}  

.card h2 {
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.bottom-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    position: relative; 
}

.card:hover {
    transform: rotate(10deg); 
    box-shadow: 0 0 15px 5px rgba(255, 85, 0, 0.8); 
}





.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    width: 300px;
}

.popup.active {
    display: block;
}

.popup .close {
    cursor: pointer;
    color: #ff5a00;
    float: right;
}
