body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.website-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: linear-gradient(to right, #6a0dad, #1c1c1e);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Logo and Brand Name */
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 60px;
  cursor: pointer;
  margin-left: 50px;
}

.brand-name {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

/* Navigation Menu */
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover,
nav ul li a.active {
  background: linear-gradient(to right, #ff4500, #ff1493);
  box-shadow: 0px 4px 10px rgba(255, 69, 0, 0.5);
  color: white;
}

/* Header Buttons */
.header-buttons {
  display: flex;
  gap: 10px;
}

.header-buttons .sign-in,
.header-buttons .sign-up {
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header-buttons .sign-in {
  background: transparent;
  color: white;
  border: 2px solid white;
}

.header-buttons .sign-in:hover {
  background: linear-gradient(to right, #ff4500, #ff1493);
  color: white;
  border-color: transparent;
}

.header-buttons .sign-up {
  background: linear-gradient(to right, #ff4500, #ff1493);
  color: white;
  box-shadow: 0px 4px 10px rgba(255, 69, 0, 0.5);
}

.header-buttons .sign-up:hover {
  box-shadow: 0px 6px 20px rgba(255, 69, 0, 0.8);
  transform: scale(1.05);
}

/* Style untuk menu hamburger */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(Main-Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.hero-img{
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
    background: linear-gradient(0deg,rgb(10, 26, 49)15%, rgba(255,255,255,0)70%);
}

.text-container{
    padding-top: 50px;
    max-width: 700px;
    padding-left: 100px;
    color:white;
}

.text-container h1 {
    font-size: 70px;
}

.text-container p {
    font-size: 18px;
    margin: 10px 0 30px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px); 
    border-radius: 15px;
    padding: 10px;
}

.col-1{  
    background-color: #0a1a31;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-1-text-container{
    padding: 100px;
    font-style: italic;
    min-height: 20vh;
    margin-left: 10%;
    margin-right: 10%;
}

/* TIMELINE */
.timeline{
    margin: 5em auto;
    max-width: 34.15em;
    text-align: justify;
}

.checkpoint{
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint div{
    border: 2px solid#888;
    border-radius: 1em;
    padding: 1.5em;
}

.checkpoint p{
    line-height: 27px;
    color: #ccc;
}

.checkpoint:nth-child(odd){
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even){
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translateX(-17em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before{
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before{
    left: 0;
}

.checkpoint:nth-child(even)::before{
    right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before{
    content: '';
    background: #fff;
    box-shadow: 0 0 0.5em #0d71fc;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before{
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before{
    right: -0.5em;
}

@media screen and (max-width: 1150px){
    .timeline{
        width: 80vw;
    }
    .timeline .checkpoint{
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .timeline .checkpoint::before{
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline .checkpoint div::before{
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
    
}

/* END TIMELINE */

/* SLIDER */

:root {
  --primary: #ffffff;
  --white: #ffffff;
  --bg: #f5f5f5;
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
  padding: 0rem 0;
}

#tranding .tranding-slider {
  height: 45rem;
  padding: 2rem 0;
  position: relative;
  background-color: #0a1a31;
}

.tranding-slide {
  width: 30rem;
  height: 35rem;
  position: relative;
  align-items: center;
}

.tranding-slide-img img {
  width: 30rem;
  height: 35rem;
  border-radius: 2rem;
  object-fit: cover;
}   

.swiper-slide {
    opacity: 1; /* Buat gambar yang tidak aktif lebih transparan */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.swiper-slide-active {
    opacity: 1; /* Gambar utama lebih menonjol */
    transform: scale(1.1); /* Perbesar sedikit gambar utama untuk efek */
}

.tranding-slide-content-bottom {
  position: absolute;
  bottom: 8rem;
  left: 2rem;
  color: var(--white);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

/* SLIDER END */

.col-1 h1 {
    color: white;
}

.col-1 h2 {
    color: white;
}

.col-1 p{
    color: white;
    font-size: 18px;
}

.col-2{
    background-color: #0a1a31;
    display: flex;
    justify-content: space-between;
}

.col-2-logo-text-container{
    padding: 100px;
    display: flex;
}

.card-2 img {
    width: auto;
    transform: translate(0%, -20%);
}

.col-2-text-container{
    font-style: italic;
}

.col-2 h2 {
    color: white;
    font-size: 36px;
}

.col-2 p{
    text-align: justify;
    font-size: 16px;
    color: white;
}

.col-3 {
  background-color: #0a1a31;
  display: flex; /* Mengaktifkan Flexbox */
  justify-content: center; /* Menjaga konten di tengah secara horizontal */
  align-items: center; /* Menjaga konten di tengah secara vertikal */
  height: 50vh; /* Menyesuaikan tinggi penuh halaman */
  text-align: center; /* Menjaga teks tetap di tengah horizontal */
}

.col-3-text-container {
  padding-left: 10%;
  padding-right: 10%;
  font-style: italic;
  color: white;
  max-width: 100%; /* Membatasi lebar teks agar lebih rapi */
}

.col-3 h2 {
  font-size: 36px;
  margin-bottom: 20px; /* Tambahkan jarak antara judul dan paragraf */
}

.col-3 p {
  font-size: 16px;
  margin: 0 auto; /* Pastikan teks berada di tengah */
  line-height: 1.6; /* Menambah jarak antar baris untuk keterbacaan */
}

.col-4 {
  background-color: #0a1a31;
  text-align: center; /* Untuk teks berada di tengah secara horizontal */
  display: flex; /* Mengatur sebagai flex container */
  justify-content: center; /* Mengatur konten di tengah secara horizontal */
  align-items: center; /* Mengatur konten di tengah secara vertikal */
  height: 30vh; /* Mengatur tinggi penuh halaman */
}

.col-4-text-container {
  padding: 20px; /* Kurangi padding agar tidak terlalu besar */
  font-style: italic;
  color: white;
  max-width: 80%; /* Membatasi lebar teks agar lebih rapi */
}

.col-4 h2 {
  font-size: 36px;
  margin-bottom: 20px; /* Tambahkan jarak antara judul dan paragraf */
}

.col-4 p {
  font-size: 16px;
  margin: 0 auto; /* Pastikan teks berada di tengah */
  line-height: 1.6; /* Menambah jarak antar baris untuk keterbacaan */
}

.sec-2{
  height:20vh;
  background-color: #0a1a31;
}

/* CSS untuk tampilan responsif */

/* Ukuran layar kecil (ponsel) */
@media (max-width: 768px) {
  .logo-container {
      display: flex;
      justify-content: center;
      width: 100%;
  }

  .menu-toggle {
      display: block; /* Tampilkan tombol toggle */
      position: absolute;
      top: 15px;
      right: 20px;
      background: none;
      border: none;
      font-size: 24px;
      color: white;
      cursor: pointer;
      z-index: 1001;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 60px;
      right: 20px;
      background: rgba(0, 0, 0, 0.95);
      width: 200px;
      border-radius: 10px;
      z-index: 1000;
  }

  .nav-links.active {
      display: flex;
  }

  .nav-links ul {
      list-style: none;
      margin: 0;
      padding: 10px;
      width: 100%;
  }

  .nav-links ul li {
      margin: 5px 0;
  }

  .nav-links ul li a {
      display: block;
      width: 100%;
      text-align: left;
      color: white;
      padding: 10px;
      text-decoration: none;
      border-radius: 5px;
      font-size: 16px;
  }

  .nav-links ul li a:hover {
      background: linear-gradient(to right, #ff4500, #ff1493);
      color: white;
  }

  .header-buttons {
      display: none; /* Sembunyikan tombol di luar toggle menu */
  }
  .website-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
  }

  .logo {
      height: 50px;
      margin-left: 0;
  }

  nav ul {
      flex-wrap: wrap;
      gap: 10px;
  }

  nav ul li a {
      font-size: 14px;
      padding: 5px 10px;
  }

  .header-buttons {
      flex-direction: column;
      gap: 5px;
  }

  .hero {
      height: 50vh; /* Hero image lebih kecil */
  }

  .hero-space {
      height: 50px; /* Tinggi space hitam */
  }

  .type-pokemon {
      padding: 20px 5%;
      gap: 10px;
  }

  .type-pokemon button {
      width: 100px;
      height: 40px;
      font-size: 14px;
  }

  .con-1-pokedex, 
  .con-2-pokedex, 
  .con-3-pokedex {
      flex-direction: column;
      align-items: center;
      gap: 15px;
  }

  .card {
      width: 90%;
      padding: 15px;
  }

  .card img {
      max-height: 150px;
  }
}

/* Ukuran layar menengah (tablet) */
@media (max-width: 1024px) {
  nav ul {
      gap: 15px;
  }

  .hero {
      height: 70vh;
  }

  .type-pokemon {
      gap: 15px;
  }

  .type-pokemon button {
      width: 120px;
      height: 45px;
  }

  .con-1-pokedex, 
  .con-2-pokedex, 
  .con-3-pokedex {
      gap: 20px;
  }

  .card {
      width: 45%;
  }

  .card img {
      max-height: 180px;
  }
}


